// Light theme
$bgLight: #e1e1e1; // Background, Card Border
$cardBgLight: #ffffff; // Panel Background
$fontPrimaryLight: #2f516d; // Font Colour Primary
$fontSecondaryLight: #899bb2; // Font Colour Secondary
$carouselControlLight: #444444; // Carousel caret colour
$errorPrimaryLight: #f55; // Error highlight. Not part of the test, added as a test/demo

// Dark Theme - NOTE: I'm not a designer so please don't judge the colour choices :P
// I added dark theme for demo purposes only.
$bgDark: #444; // Background, Card Border
$cardBgDark: #777; // Panel Background
$fontPrimaryDark: #97c8f0; // Font Colour Primary
$fontSecondaryDark: #ccd9e9; // Font Colour Secondary
$carouselControlDark: #969696; // Carousel caret colour
$errorPrimaryDark: #f22; // Error highlight. Not part of the test, added as a test/demo
