.wrapper {
    width: 200px;
    background-color: var(--bgPrimary);
    border: 1px solid var(--bgCard);

    &:not(:last-child) {
        margin-right: 12px;
    }
    
    &.wide {
        width: 300px;
    }

    > .tile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > img {
            height: 150px;
            width: 100%;
            object-fit: fill;
            margin-bottom: 8px;
        }

        > .data {
            padding-bottom: 8px;
            display: flex;
            flex-direction: column;

            > .title {
                font-weight: 700;
                padding: 4px 8px;
            }

            > .location {
                padding: 4px 8px;

                > img {
                    width: 16px;
                    vertical-align: middle;
                }
            }
        }
    }
}
